@charset "UTF-8";

.ProximaNovaA-Bold { 
	font-family: ProximaNovaA-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaA-Light { 
	font-family: ProximaNovaA-Light;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaS-Bold { 
	font-family: ProximaNovaS-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaS-Light { 
	font-family: ProximaNovaS-Light;
	font-weight: normal;
	font-style: normal;
}
.ProximaNova-Bold { 
	font-family: ProximaNova-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNova-Light { 
	font-family: ProximaNova-Light;
	font-weight: normal;
	font-style: normal;
}

*, :before, :after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    padding: 0px; margin: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}

body{
    width: 100%;
    overflow: hidden;
    background-color: #006469;
    font-size: 1rem;
    font-family: ProximaNova-Light, Arial, Helvetica, sans-serif;
}

div, .relative{
    display: block;
    position: relative;
}

.view, .views {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#mainWrapper{
    height: 100%;
}